#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f3ef;
  color: #141414;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}
